@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

*:after, *:before{
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #F2F3FB;
}

h2{
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}
.formulario-bg {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, .25);
  padding: 0.75rem;
  padding-bottom: 1.25rem;
}

.container-img{
  width: 100%;
}

.avatar {
  border-radius: 50%;
  width: 50%;
  margin: 10px auto;
  border-style: solid;
  border-color: gray;
  }

p {
  margin: 10px;
  padding-bottom: 20px;
}

h2 {
  margin: 15px;
  padding-top: 10px;
}


.rt {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #6658d3;
}

.item {
  padding: 10px;
  font-size: 1.25rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.item-titulo {
  padding: 10px;
  font-size: 1.75rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#lista {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6658d3;
}

a {
  text-align: center;
}
.card:hover{
  box-shadow: rgb(187, 60, 60);
  transform: scale(1.05);
}

.foo {
  text-align: center;
  color: #eee;
  background-color: #6658d3;
}

.texto {
  margin: auto;
}

.github-icon {
  width: 15%;
  background-color: black;
}

.github-button {
  background-color: black;
  border-radius: 10px;
}

@media screen and (min-width: 1000px) {
  .container{
    display: flexbox;
    flex-wrap: nowrap ;
  }
}

@media screen and (max-width: 978px) {
  .container-img{
    margin: 5% 0;
  }
  .formulario-bg{
    margin-top: 5%;
  }
}
@media  screen and (min-width: 520px) {
  .card {
    margin: 15px auto;
    width: 60%;
  }
}